In [4]:
X <- c(1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0)
Y <- c(102, 110, 86, 90, 120, 78, 95, 103, 105, 93, 123, 89, 109, 100, 105)
n <- length(X)
df = data.frame(X, Y)
df

   X Y
1  1 102
2  0 110
3  1  86
4  1  90
5  0 120
6  1  78
7  0  95
8  0 103
9  1 105
10 1  93
11 1 123
12 0  89
13 1 109
14 1 100
15 0 105

In [13]:
nY = sum(df$X>0)
nX = n - nY
nY
nX

[1] 9

[1] 6

In [35]:
IntAvgY = sum(df[df$X > 0,][2]) / nY
IntAvgX = sum(df[df$X == 0,][2]) / nX
IntAvgY
IntAvgX 
# mean(df[df$X > 0,][2])

[1] 98.44444

[1] 103.6667

In [39]:
yt = sd(df$Y)
yt

R = ((IntAvgY - IntAvgX) / yt) * (sqrt(nX * nY / (n * (n - 1))))
R

# Std = sqrt()

[1] 12.37432

[1] -0.2140037

In [40]:
Tkrit = 2.16
Tphi = abs(R) * sqrt((n - 2) / (1 - (R * R)))
Tphi

[1] 0.7899009

In [41]:
if (Tphi < Tkrit) {
  cat("принимается H0 - не обнаружили никакой связи\n")
} else {
  cat("принимается H1 - связь есть\n")
}

принимается H0 - не обнаружили никакой связи