In [17]:
columns <- c("Черты личности", "Муж", "Жена")
matrix_data <- matrix(c(
    'Общительность', 1, 5, 
    'Выносливость', 2, 6, 
    'Сдержанность', 3, 7, 
    'Терпеливость', 4, 3, 
    'Жизнерадостность', 5, 4, 
    'Отзывчивость', 6, 2, 
    'Ответственность', 7, 1
),  ncol = 3, byrow = TRUE, dimnames = list(NULL, columns))
matrix_data

coincidences = rep(0, 7)
inversions = rep(0, 7)

n = nrow(matrix_data)
for(row in 1:(n - 1)) {
  counter <- 0
  counter_inversion <- 0
  for(row_below in (row + 1):n) {
    if (matrix_data[row_below, 3] > matrix_data[row, 3]) {
      counter <- counter + 1
    } else {
      counter_inversion <- counter_inversion + 1
    }
  }
  coincidences[row] <- counter
  inversions[row] <- counter_inversion
}

matrix_data <- cbind(matrix_data, coincidences)
matrix_data <- cbind(matrix_data, inversions)
matrix_data

     Черты личности   Муж Жена
[1,] Общительность    1   5
[2,] Выносливость     2   6
[3,] Сдержанность     3   7
[4,] Терпеливость     4   3
[5,] Жизнерадостность 5   4
[6,] Отзывчивость     6   2
[7,] Ответственность  7   1

     Черты личности   Муж Жена coincidences inversions
[1,] Общительность    1   5    2            4
[2,] Выносливость     2   6    1            4
[3,] Сдержанность     3   7    0            4
[4,] Терпеливость     4   3    1            2
[5,] Жизнерадостность 5   4    0            2
[6,] Отзывчивость     6   2    0            1
[7,] Ответственность  7   1    0            0

In [26]:
P <- sum(coincidences)
Q <- sum(inversions)
P
Q

[1] 4

[1] 17

In [28]:
Temp = (P - Q) / (n * (n - 1) / 2)
Temp

[1] -0.6190476

In [33]:
Tphi = abs(Temp) * sqrt((n - 2) / (1 - (Temp * Temp)))
Tphi

[1] 1.76256

In [36]:
Tcrit = 2.57

if (Tphi < Tcrit) {
  cat("принимается H0 - не обнаружили никакой связи\n")
} else {
  cat("принимается H1 - связь есть\n")
}

принимается H0 - не обнаружили никакой связи